<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О товаре</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>
<body>
<h1>О товаре</h1>

     <div class="product-item">
        <img src={{image}}>
        <div class="product-list">
            <h3>{{name}}</h3>
            <span class="price">{{price}} руб</span>
            <a href="" class="button">В корзину</a>
        </div>
    </div>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/items/">Items</a></li>
    <li>О товаре</li>

</ul>
</div>
</body>
</html>