{% extends "basic.html" %}
{% block title%}О товаре{% endblock %}
{%block content%}
<h1>О товаре</h1>
<!-- Карточка товара -->
<div class="card">

        <div class="card__top">
            <a href="#" class="card__image">
                <img src="{{image}}" alt="{{name}}"/>
            </a>

            <div class="card__label">-10%</div>
        </div>

        <div class="card__bottom">
            <!-- Цены на товар (с учетом скидки и без)-->
            <div class="card__prices">
                <div class="card__price card__price--discount">1 000</div>
                <div class="card__price card__price--common">{{ price }}</div>
            </div>
            <!-- Ссылка-название товара -->
            <a href="#" class="card__title">{{ name }} </a>
            <!-- Кнопка добавить в корзину -->
            <button class="card__add">В корзину</button>
        </div>
    </div>
{% endblock %}
