{% extends "basic.html" %}
{% block title%}About{% endblock %}
{%block content%}
<h1>О нас</h1>
    <div class="container1">

        <p class="column">
            Добро пожаловать в наш интернет-магазин одежды! Мы стремимся предложить вам стильную и высококачественную
            одежду
            по доступным ценам. Наша команда усердно работает, чтобы удовлетворить ваши модные потребности.
        </p>

        <p class="column">
            Мы гордимся тем, что предлагаем широкий ассортимент товаров – от повседневной одежды до особых коллекций на
            каждый сезон. Надеемся, что вы найдете у нас именно то, что ищете, чтобы подчеркнуть свой индивидуальный стиль.
            Благодарим вас за выбор нашего магазина. Приятных вам покупок!
        </p>
    </div>

{% endblock %}

