<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="{% url 'products' %}">Товары</a></li>
            <li><a href="{% url 'about' %}">Обо мне</a></li>
        </ul>
    </nav>
</header>

<img style="padding: 15px 0 0 0;"
     src="/media/photos/2023/11/23/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2023-11-19_06-16-13-758_c2k7gQn.jpg"
     width="400px" alt="Tanya with Mazda">
<p>
    My name is Tanya. Its my first Django project
</p>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>About</li>

</ul>
</body>
</html>