<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Главная страница</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>
<body>
<header>
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Главная</a></li>
                <li><a href="{% url 'products' %}">Товары</a></li>
                 <li><a href="{% url 'about' %}">Обо мне</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        Welcome to "My shop" – Your Ultimate Destination for Stylish Fashion!

    Discover the latest trends and timeless classics in our curated collection of clothing. From casual chic to elegant
    sophistication, we've got something for every style and occasion. Explore high-quality fabrics, impeccable
    craftsmanship, and fashion-forward designs that cater to your unique taste.

    Why choose "My shop"?

    1. Fashion for Every Occasion: Whether you're dressing up for a special event or seeking everyday comfort, our
    diverse range of clothing has you covered.

    2. Quality You Can Trust: We believe in delivering not just fashion but quality. Each piece is crafted with
    precision and attention to detail, ensuring durability and style that stands the test of time.

    3. Trendy & Timeless Styles: Stay ahead of the fashion curve with our constantly updated collection. Find the latest
    trends and timeless pieces that effortlessly elevate your wardrobe.

    4. Easy Shopping Experience: Enjoy a seamless shopping experience with our user-friendly website. Browse, select,
    and purchase with just a few clicks – because shopping for your favorite looks should be as enjoyable as wearing
    them.

    5. Customer Satisfaction Guaranteed: Your satisfaction is our priority. Shop with confidence, knowing that we are
    committed to providing excellent customer service and ensuring you love every purchase.

    Elevate your style with "My shop". Start exploring now!

        {% endblock %}
    </div>

</body>
</html>