{% extends "basic.html" %}
{% block title%}Main{% endblock %}
{%block content%}
<div class="container">
<img style="padding: 0 0 0 0; float: left"
     src="https://bugbytes-django-s3-demo.s3.eu-north-1.amazonaws.com/photos/2023/12/16/online_shopping.jpg_.jpg"
     width="800px"  alt="Online_shop">
<p class="columns" >
   Добро пожаловать в наш удобный интернет-магазин модной одежды! Изысканный стиль и высокое качество в каждом нашем товаре. Откройте для себя широкий ассортимент мужской, женской и детской одежды по доступным ценам.
   Мы следим за последними тенденциями моды, чтобы предложить вам всегда актуальные коллекции. Будьте в центре внимания с нашей одеждой, созданной для вашего стиля и комфорта. Покупайте с удовольствием в нашем интернет-магазине!
</p>
   <form action="/items/" target="_blank">
 <button style="width: 10em; height: 3em" class="card__add">Начать поиск</button>
   </form>
</div>

{% endblock %}
