{% extends "basic.html" %}
{% block title%}Список товаров{% endblock %}
{%block content%}
<h1>Список товаров</h1>

<div class="cards">
    {% for item in items %}

    <div class="card">

        <div class="card__top">
            <a href="#" class="card__image">
                <img src="{{item.image}}" alt="{{item.name}}"/>
            </a>

            <div class="card__label">-10%</div>
        </div>

        <div class="card__bottom">
            <!-- Цены на товар (с учетом скидки и без)-->
            <div class="card__prices">{{ item.price }} руб.</div>
                         <!-- Ссылка-название товара -->
            <a href="/item/{{ item.id }}" class="card__title">{{ item.name }} </a>
            <!-- Кнопка добавить в корзину -->
            <button class="card__add">В корзину</button>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
